/* تنظیمات برای html و body */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* ارتفاع 100% از پنجره مرورگر */
  width: 100%;
  /* عرض 100% از پنجره مرورگر */
  overflow: hidden;
  /* مخفی کردن اسکرول‌ها */
}

/* تنظیمات برای canvas */
canvas {
  display: block;
  /* حذف هرگونه فاصله و فاصله‌های اضافی */
  width: 100vw;
  /* عرض 100% از پنجره مرورگر */
  height: 100vh;
  /* ارتفاع 100% از پنجره مرورگر */
}

#Display {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}